.whole-project {
  max-width: 600px;
  margin: 25px auto;
  padding-top: 10px;
  border: 2px whitesmoke solid;
  border-radius: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(
    110.7deg,
    rgb(255, 81, 47) 1.7%,
    rgb(255, 167, 47) 8.2%,
    rgb(218, 253, 1) 16.2%,
    rgb(98, 234, 20) 23.4%,
    rgb(69, 193, 42) 32.8%,
    rgb(7, 249, 149) 43.7%,
    rgb(6, 200, 217) 55.3%,
    rgb(18, 51, 233) 65.5%,
    rgb(122, 59, 202) 74.5%,
    rgb(231, 7, 249) 82.3%,
    rgb(202, 59, 163) 91.4%
  );
}
.h1 {
  display: block;
  font-size: 33px;
  text-align: center;
  line-height: 28px;
  margin: auto 0 22px 0;
}
#todays-date {
  display: block;
  text-align: center;
}
.search-row {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#search-box {
  line-height: 14px;
}
.btn-primary {
  width: 100px;
}
#city-name {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.currently {
  margin: 0 auto 0 10px;
}
#current-description {
  font-weight: 100;
  text-transform: uppercase;
}
#current-image img {
  float: left;
  max-width: 90px;
}
ul {
  list-style: none;
}

.tomorrow-and-next img {
  max-width: 90px;
  display: block;
  margin: auto 0;
  text-align: center;
}
.tomorrow-and-next {
  display: block;
  margin: 25px auto auto -25px;
}
footer {
  font-weight: 600;
  float: right;
  margin: 100px 0px auto 0px;
}
#scemoji {
  max-width: 80px;
  max-height: 70px;
}
