.whole-project {
  max-width: 600px;
  margin: 25px auto;
  padding-top: 10px;
  border: 2px whitesmoke solid;
  border-radius: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.h1 {
  display: block;
  font-size: 33px;
  text-align: center;
  line-height: 28px;
  margin: auto 0 22px 0;
}
#todays-date {
  display: block;
  text-align: center;
}
.search-row {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#search-box {
  line-height: 14px;
}
.btn-primary {
  width: 100px;
}
#city-name {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.currently {
  margin: auto auto 30px 50px;
}
ul {
  list-style: none;
}
.forecast-line {
  margin: 0 0 30px 50px;
}
footer {
  font-weight: 600;
  float: right;
  margin: 100px 0px auto 0px;
}
#scemoji {
  max-width: 80px;
  max-height: 70px;
}
