body {
  background: url("https://images.pexels.com/photos/2085998/pexels-photo-2085998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 900px;
}

.whole-project {
  font-family: serif;
  color: whitesmoke;
}
.h1 {
  display: block;
  font-size: 33px;
  text-align: center;
  line-height: 28px;
  margin: 50px 0 22px 0;
}
#todays-date {
  display: block;
  text-align: center;
}
.search-row {
  display: block;
  margin: 0 auto;
  text-align: center;
}
#search-box {
  line-height: 14px;
}
.btn-primary {
  width: 100px;
}
#city-name {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.currently {
  margin: auto auto 30px 50px;
}
ul {
  list-style: none;
}
.forecast-line {
  margin: 0 0 30px 50px;
}
footer {
  font-weight: 600;
  float: right;
  margin: 80px 0px auto 0px;
  color: #d4bbc7;
}
#scemoji {
  max-width: 80px;
  max-height: 70px;
}
